server:
  port:
    8080
spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:postgresql://localhost:5434/db
    username: euller
    password: 12345
    driverClassName: org.postgresql.Driver
  sql:
    init:
      platform: postgres
file:
  upload-dir: tmp

